{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
  <img src="{% static 'images/wallpaer 2.jpg' %}" alt="wallpaper image" style="width:1450px; height:500px;">
</div>
<div>
  <h1 style="color:red;text-align:center">
    Discover, Explore, and Shop: Your Ultimate Destination!!!!!!
  </h1>
  <h4 style="color:orange;text-align:center">Welcome to our E-Store app, where convenience meets variety! Browse through a wide selection of products from the comfort of your own home, whether you're looking for electronics, fashion, home goods, or more. With intuitive search and filter options, finding exactly what you need is a breeze. Enjoy seamless checkout and secure payment options for a hassle-free shopping experience. Stay updated on the latest promotions and deals, and receive personalized recommendations based on your preferences. Shop anytime, anywhere with our user-friendly E-Store app
  </h4>
</div>
{% endblock  %}
