{% extends 'base.html' %}

{% block title %}About Us - E-Store{% endblock %}

{% block content %}
    <div class="text-center py-5" style="background-color: #f8f9fa; color: #333;">
        <h1 class="display-4" style="color: #e44d26;">About Us</h1>
        <p class="lead">Welcome to <span style="color: #007bff;">E-Store</span>! We are a dedicated team passionate about providing the best online shopping experience.</p>
        <hr class="my-4" style="border-color: #007bff;">
        <p>At E-Store, our mission is to bring you a curated selection of high-quality products, exceptional customer service, and a seamless online shopping journey.</p>
        <p>Our team of experts carefully selects each item in our collection, ensuring that you have access to the latest trends and innovative products.</p>
        <p>Join us on this exciting journey as we redefine online shopping. Experience the convenience, explore our diverse range of products, and discover why E-Store is your go-to destination for all your needs.</p>
    </div>
{% endblock %}
