{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <img src="{% static 'images/wallpaer 2.jpg' %}" alt="wallpaper image" style="width:1450px; height:500px;">
</div>
<div>
    <h1 style="text-align:center; color:red">Discover, Explore, and Shop: Your Ultimate  Destination </h1>
    <h5 style="text-align:center">Welcome to the ultimate shopping destination right at your fingertips! Our e-store app brings you a seamless and convenient way to explore, discover, and shop for a wide range of products from the comfort of your home or on the go.

    </h5>
</div>
{% endblock %}