<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="website.css">
  <title>World Environment Day</title>
</head>
<body>
  <header>
    <h1 id="myheading">World Environment Day</h1>
    <label for="text">Availability of Saplings</label>
    <input id="text" type="text">
    <button onclick="mybtnclick()"> Search</button>
  </header>
  <script>
    function mybtnclick() {
      document.getElementById("myheading").innerHTML="WORLD ENVIRONMENT DAY ON JUNE 5TH"
    }
  </script>
  <nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
    </nav>
  <div>
  <main>
    <section>
      <h2 style="text-align:center;color:red">Celebrate World Environment Day Everyday</h2>
      <img src="Roosevelt+Community+Garden_Meeting.jpg">
      <p style="text-align:center;font-size:30px;background-color:#bfff00;">Start a Community Garden</p>
    </section>
    <section>
      <h2 style="text-align:center;color:rgb(240, 139, 16)">Host a Community Clean-Up</h2>
      <img src="host a clean up.jpg">
      <p style="text-align:center;font-size:30px;background-color:#ffcccc">Donate to an Environmental Nonprofit</p>
    </section>
  </main>
    </div>

  <footer>
    <p style="background-color:orange; font-size : 20px;"> &copy; 2024 Johns B-15 Entri. All rights reserved.</p>
  </footer>


</body>
</html>